extends layout

block content
  table
    td (colspan = '5')
      table
        tr
          th .
          th Position
        tr
          td X
          td 0
        tr
          td Y
          td 0
        tr
    td (colspan = '5')
      table
        tr
          th .
          th Actual Speed
        tr
          td Mot1
          td 1659
        tr
          td Mot2
          td 1639
        tr
          td Mot3
          td 1629
        tr
          td Mot4
          td 1639
        tr
    td (colspan = '5')
      table
        tr
          th .
          th Target Speed
        tr
          td Mot1
          td 1649
        tr
          td Mot2
          td 1649
        tr
          td Mot3
          td 1649
        tr
          td Mot4
          td 1649
        tr
