extends layout

block content
h1= Mobile Robot
  table
    td(colspan = '5')
        tr
          th(align='center') .
          th(align='center') Position
        tr
          td(align='center') X
          td(align='center') 0
        tr
          td(align='center') Y
          td(align='center') 0
        tr
    td(colspan = '5')
        tr
          th(align='center') .
          th(align='center') Actual Speed
        tr
          td(align='center') Mot1
          td(align='center') 1659
        tr
          td(align='center') Mot2
          td(align='center') 1639
        tr
          td(align='center') Mot3
          td(align='center') 1629
        tr
          td(align='center') Mot4
          td(align='center') 1639
        tr
    td(colspan = '5')
        tr
          th(align='center') .
          th(align='center') Target Speed
        tr
          td(align='center') Mot1
          td(align='center') 1649
        tr
          td(align='center') Mot2
          td(align='center') 1649
        tr
          td(align='center') Mot3
          td(align='center') 1649
        tr
          td(align='center') Mot4
          td(align='center') 1649
        tr
