extends layout

block content
  table
    td
      table
        tr
          th .
          th Position
        tr
          td X
          td 0
        tr
          td Y
          td 0
        tr
        tr
        tr
    td
      table
        tr
          th .
          th Actual Speed
        tr
          td Mot1
          td 0
        tr
          td Mot2
          td 0
        tr
          td Mot3
          td 0
        tr
          td Mot4
          td 0
        tr
    td
      table
        tr
          th .
          th Target Speed
        tr
          td Mot1
          td 0
        tr
          td Mot2
          td 0
        tr
          td Mot3
          td 0
        tr
          td Mot4
          td 0
        tr
